.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
/* //blue sky color  #a8d8ea */

.middle-container {
  margin: 100px 0 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

/* .myImage {
  margin: 100px auto 70px auto;
} */

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover{
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #8785a2 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programming {
  float: left;
  border-radius: 100%;
  width: 25%;
  margin-right: 30px;
}

.myGame {
  float: right;
  border-radius: 100%;
  width: 25%;
  margin-left: 30px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 400px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.proffs {
  font-weight: normal;
  margin-top: 0;
}

.btn {
  color: white;
  text-align: center;
  text-decoration: none;
}

.contact-btn {
  background-color: #11999E;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 50px auto 100px auto;
  cursor: pointer;
  border-radius: 8px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font-size: 16px;
  padding: 20px 0px;
}
